@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
// injector
// endinjector

.custom-panel{
    height: 100%;
    
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex>.col-flex{
    padding-bottom: 15px;
}