**/node_modules
**/build
**/dist
**/npm-debug.*.log
**/npm-debug.log
**/debug.log
data
npm-debug.log
debug.log

build
dist
.tmp
node_modules
bower_components
src/assets/lib
manifest
coverage

.idea
.vscode

.war
.zip
admin.war
admin.zip