<div class="container-fluid">
    <h1 ng-if="vm.isEmpty()">Корзина пустая</h1>
    <div class="row" ng-if="!vm.isEmpty()">
        <div class="col-xs-12">
                <ul class="list-group">
                    <li class="list-group-item clearfix" ng-repeat="product in vm.cart">
                        <div class="pull-left">
                            <a class="btn-delete" title="delete" ng-click="vm.deleteProduct(product.id)">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </a>
                        </div>
                        <div class="details pull-left">
                            <p>{{product.type}} - {{product.name}}</p>
                            <p></p>
                            <p>{{product.price}} грн.</p>
                        </div>
                        <div class="sum pull-right">Сумма: {{vm.totalSumProduct(product)}} грн.</div>
                        <div class="amount pull-right">
                            <div class="cart-amount">
                                <ul class="counter">
                                    <li class="count" ng-click="vm.amountProduct(product, 'decrease')"><span class="glyphicon glyphicon-minus"></span></li>
                                    <li class="container-input"><input ng-min="1" ng-max="100" ng-maxlength="3"  ng-model="product.count" type="number" class="amount-counter" /></li>
                                    <li class="count" ng-click="vm.amountProduct(product, 'increase')"><span class="glyphicon glyphicon-plus"></span></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
        </div>
        <div class="col-xs-12">
            <div class="pull-right">
                <h3>Все вместе: {{vm.totalSum()}}грн.</h3>
                <a class="btn btn-primary  btn-block">Оформить заказ</a>
            </div>
        </div>
    </div>
</div>