<div class="container-fluid">
    <div class="row flex">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 col-flex" ng-repeat="product in vm.products">
            <div class="panel panel-primary custom-panel" >
                <div class="panel-heading">
                    <h3 class="panel-title">{{product.name}}</h3>
                </div>
                <div class="panel-body">
                    <p>{{product.shortDescription}}</p>
                    <p>{{product.price}}грн</p>
                    <span class="text-info small show">{{product.inStock ? "Есть в наличии" : "Нет в наличии"}}</span>
                    <a ng-if="!vm.containProduct(product)"  class="btn btn-primary" 
                     ng-disabled="!product.inStock" ng-click="!product.inStock || vm.addToCart(product)">Добавить в корзину</a>
                    <span ng-if="vm.containProduct(product)" class="text-info small show">Есть в корзине</span>
                </div>
            </div>
        </div>
    </div>
</div>